html, body {
    height: 100%;
    width: 100%;
}

#root {
    display: flex;
    justify-content: center;
}

html {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: $NETFLIX_REGULAR_FONT;
}

a {
    text-decoration: none;
}

.main-container {
    height: calc(100% - 100px);
    max-width: 1920px;
    width: 100%;
}

.container {
    min-height: calc(100vh - 105px);
    width: 100%;
    margin: 0 auto;
    padding: 3rem;
    box-sizing: border-box;
    background-color: $SECONDARY_COLOR;
}