$PRIMARY_COLOR: #1B2634;
$SECONDARY_COLOR: #253240;

//fonts

$NETFLIX_REGULAR_FONT: 'Netflix Sans Regular', sans-serif;
$NETFLIX_BOLD_FONT: 'Netflix Sans Bold', sans-serif;
$NETFLIX_MEDIUM_FONT: 'Netflix Sans Medium', sans-serif;