.blog {
    height: 100%;
    @include e(title) {
        color: white;
        width: 100%;
    }
    @include e(posts) {
        @media (max-width: 420px) {
            display: block !important;
        }
        width: 100%;
        justify-content: flex-start;
        & > :first-child {
            order: 2;
        }
    }
}