.btn {
    border: none;
    cursor: pointer;
    padding: 5px 16px;
    height: 40px;
    width: fit-content;
    @include m(round) {
        border-radius: 20px;
    }
    @include m(primary) {
        background-color: #F86D4E;
        text-transform: capitalize;
        color: white;
        font-weight: bold;
    }
    @include m(secondary) {
        background-color: #21E18C;
        font-weight: bold;
        width: 100px;
    }
    @include m(login) {
        justify-content: flex-end;
    }
}