.comments {
    h3 {
        color: white;
        margin: 2rem 0 1.5rem;
    }
    p {
        color: #DFE3E6;
    }
    textarea {
        @media (max-width: 1520px) {
            width: 300px;
        }
        @media (max-width: 425px) {
            width: 200px;
        }
        resize: none;
        border-radius: 3px;
        width: 100%;
        height: 50px;
        margin-bottom: .500rem;
        margin-top: 1.5rem;
        padding: 1rem;
    }
}

.comment {
    margin-bottom: 1rem;
    @include e(text) {
        margin-top: .500rem;
    }
    @include e(date) {
        font-size: 12px;
        color: #57636F;
        margin-bottom: 1rem;
    }
    @include e(msg-field) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        width: 100%;
    }
}

.error {
    color: #BDC1C5;
    font-size: 12px;
}