.header {
    background-color: $PRIMARY_COLOR;
    box-sizing: border-box;
    color: white;
    margin: 0 auto;
    padding: 2rem;
    text-transform: uppercase;

    h1 {
        color: white;
        margin-right: 3rem;
    }

    input {
        height: fit-content;
    }

    & > div {
        display: flex;
        align-items: center;
    }

    @include e(logo) {
        display: flex;
        align-items: center;
    }
}