.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    img {
        border-radius: 5px;
    }

    @include e(container) {
        display: flex;
        justify-content: center;
    }
    @include e(description) {
        h2 {
            color: white;
            margin-bottom: 2rem;
        }
        p {
            color: #BDC1C5;
        }
    }
    @include e(description-overview) {
        text-align: justify;
        width: 300px;
    }
}