.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    img {
        border-radius: 5px;
    }

    h4 {
        color: white;
        font-family: $NETFLIX_BOLD_FONT;
        line-height: 20px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    p {
        color: #9CA3AB;
        font-size: 14px;
        font-family: $NETFLIX_MEDIUM_FONT;
        line-height: 20px;
        text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.15);
    }

    @include e(container) {
        display: flex;
        justify-content: center;
    }

    @include e(description) {
        h2 {
            color: white;
            margin-bottom: 2rem;
            font-family: 'Netflix Sans Regular', sans-serif;;
        }
        p {
            font-size: 14px;
            font-family: $NETFLIX_MEDIUM_FONT;
            line-height: 20px;
            color: #BDC1C5;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
        }
    }

    @include e(description-overview) {
        text-align: left;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
        width: 300px;
    }
}

@media (max-width: 1024px) {
    .video-responsive {
        display: none;
    }
}